@keyframes textclip {
    to {
      background-position: 200% center;
    }}
h1{text-align: center;
    position: relative;
    padding-left: 25%;
    padding-top: 15%;
    top:-4%;
	left:5%;
	font-size:100px;
	letter-spacing:5px;
    text-transform: uppercase;
	background-image: linear-gradient(
    -225deg,
    #9a50e3 0%,
	#fe45c7 36%,
	#4add36 64%,
    #2489d1 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
    display: inline-block;
    text-shadow:5px #000000;
    font-weight:bold}
*{
    background-color: #000000;
}