* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #a8bbd9;
}

nav {
  height: 120px;
  background-color: #979c9c;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 35%;
  margin-left: 10px;
}

.notLogo {
  width: 55%;
  text-align: right;
}

.notLogo a {
  background-color: ;
  text-decoration: none;
  font-size: 21px;
  font-family: Montserrat;
  color: black;
  position: relative;
  margin: 24px 80px 19px 20px;
}

.notLogo a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0%;
  height: 2px;
  background-color: #000;
  transition: all 0.2s linear;
}

.notLogo a:hover:before {
  width: 100%;
  background-color: purple;
  cursor: pointer;
}



/*  make nav bigger
    font size on home and valo
    colours
    nav bar hover


